@import "tailwindcss";
@plugin "daisyui";

.error {
    color: #890b35;
}

.error-block {
    background-color: #f0d9e5;
    margin: 1rem 0;
    padding: 1rem;
    border-radius: 4px;
    color: #890b35;
    display: flex;
    gap: 2rem;
    align-items: center;
    text-align: left;
}

.error-block-icon {
    font-size: 2rem;
    width: 3rem;
    height: 3rem;
    color: #fff;
    background-color: #890b35;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.error-block h2 {
    color: inherit;
    font-size: 1.25rem;
    margin: 0;
}

.error-block p {
    margin: 0;
}

/* =======================
   THEME TOKENS
   ======================= */

/* Light */
:root {
    --skeleton-rgb: 0 0 0;
    --skeleton-muted-rgb: 0 0 0;

    --skeleton-alpha: 0.06;
    --skeleton-muted-alpha: 0.04;
}

/* Dark (only works if you toggle data-theme="dark") */
[data-theme="dark"] {
    --skeleton-rgb: 255 255 255;
    --skeleton-muted-rgb: 255 255 255;

    --skeleton-alpha: 0.08;
    --skeleton-muted-alpha: 0.04;
}

/* =======================
   TAILWIND TOKENS
   ======================= */

@theme {
    --color-skeleton: rgb(var(--skeleton-rgb) / var(--skeleton-alpha));
    --color-skeleton-muted: rgb(var(--skeleton-muted-rgb) / var(--skeleton-muted-alpha));
}

/* =======================
   SKELETONS
   ======================= */

.shimmer {
    position: relative;
    overflow: hidden;
    background-color: var(--color-skeleton);
}

.shimmer::after {
    content: "";
    position: absolute;
    inset: 0;
    transform: translateX(-100%);
    background: linear-gradient(90deg,
            transparent,
            var(--color-skeleton-muted),
            transparent);
    animation: shimmer 2s infinite;
    pointer-events: none;
}

@keyframes shimmer {
    to {
        transform: translateX(100%);
    }
}